jupyter
nbconvert
nbconvert[webpdf]
PyPDF2
reportlab
markdown
python-docx
pypandoc
html2text
pandas
matplotlib
#spacy
requests
dropbox
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
PyDrive
smtplib
email-validator
psutil
python-dotenv
weasyprintsource 